@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-app: "Montserrat", sans-serif;
  /* --font-app: "Roboto Mono", monospace; */
  /* --font-app: "Poppins", sans-serif; */
  /* --font-app: "Work Sans", sans-serif; */
}

.prose-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.prose-content * + * {
  margin-top: 0.75em;
}

.prose-content a {
  color: #3b82f6;
  text-decoration: underline;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
}

.prose-content a:hover {
  color: #1d4ed8;
}

.prose-content ul {
  list-style-type: disc;
  padding-left: 1.5rem;
  margin-top: 1em;
  margin-bottom: 1em;
}

.prose-content ul li {
  margin-top: 0.5em;
}

.prose-content ol {
  list-style-type: decimal;
  padding-left: 1.5rem;
  margin-top: 1em;
  margin-bottom: 1em;
}

.prose-content ol li {
  margin-top: 0.5em;
}

.prose-content ul ul,
.prose-content ol ul {
  list-style-type: circle;
  margin-top: 0.5em;
}

.prose-content ol ol,
.prose-content ul ol {
  list-style-type: lower-alpha;
  margin-top: 0.5em;
}

.prose-content h1 {
  font-size: 2em;
  font-weight: bold;
}

.prose-content h2 {
  font-size: 1.5em;
  font-weight: bold;
}

.prose-content h3 {
  font-size: 1.25em;
  font-weight: bold;
}

.prose-content b,
.prose-content strong {
  font-weight: bold;
}

.prose-content i,
.prose-content em {
  font-style: italic;
}
